<mat-card>
  <mat-card-title>Create Folder</mat-card-title>
  <mat-card-content>
    <mat-form-field ngClass="full">
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field class="full">
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field ngClass="full">
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-button (click)="closeDialog()">Button</button>
  </mat-card-actions>
  <mat-card-footer>Footer</mat-card-footer>
</mat-card>
