<mat-form-field class="example-chip-list" [formGroup]="thisFormGroup">
  <mat-chip-list #chipList>
    <mat-chip
        *ngFor="let data of selected"
        ngClass="chip"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(data)">
      {{getDataValue(data)}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
        name="mat-chip-input"
        [placeholder]="thisPlaceholder"
        #dataInput
        [formControl]="localInputControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
    >
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event)">
    <mat-option *ngFor="let data of filteredData | async" [value]="data">
      {{ getDataValue(data) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

