.panel{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.header{
  z-index: 1;
}
.footer{
  z-index: 1;
}
.content{
  z-index: -99;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
}