<app-panel>
    <panel-header>
        <mat-toolbar ngClass="whiteBg">
            <mat-toolbar-row>

                <span>My Tags</span>
                <div ngClass="grow"></div>
                <button
                    mat-button
                    color="primary"
                    (click)="createProject()"
                >
                    <mat-icon>add</mat-icon>
                    Add to Item
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </panel-header>
    <panel-content
        style="
        flex-grow: 1;
        overflow: hidden;
        overflow-y:auto"
        cdkScrollable
    >
            <div *ngIf="tag">
                <mat-card
                    *ngFor="let item of tag.items"
                    (click)="openEntity(item.entity_type, item.entity)"
                >
                    <mat-card-header>
                        <mat-card-title>
                            {{item.entity.name}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{item.entity_type.toUpperCase()}}
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>

    </panel-content>
    <panel-footer>



    </panel-footer>
</app-panel>

