<form style="height: 100%" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
<div style="  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;"
>
    <div>
        <mat-toolbar >
            <div ngClass="panelText">
                <span
                    class="mat-headline"
                    style="margin-bottom: 0px"
                >
                    Create Project
                </span>
                <span
                    class="mat-caption"
                >
                    new Project
                </span>
            </div>
        </mat-toolbar>
    </div>
    <div style="flex-grow: 1" ngClass="content">
        <app-chip-input
            debug = "true"
            [dataset]="availableTags"
            [selected]="[]"
            [thisFormGroup]="projectForm"
            [getDataValue]="getTagValue"
            [setDataValue]="setTagValue"
            [getDataIndexValue]="getTagIndexValue"
            thisFormControlName="tags"
            thisPlaceholder="Tags"
        ></app-chip-input>
        <mat-form-field class="example-full-width">
            <input formControlName="name"
                   type="text"
                   [value]="project && project.name || ''"
                   placeholder="Name"
                   aria-label="Number"
                   matInput
            />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input formControlName="description"
                   type="text"
                   [value]="project && project.description || ''"
                   placeholder="Description"
                   aria-label="Number"
                   matInput
            />
        </mat-form-field>
    </div>
    <div>

        <mat-toolbar style="background-color: #FFFFFF">
            <span class="space"></span>
            <button
                type="submit"
                color="primary"
                mat-flat-button
            >
                Save Project
            </button>
        </mat-toolbar>

    </div>
</div>
</form>


