
  <div class="title"><h1>


      <i class="fa fa-globe"></i> {{ title }}
      </h1></div>

    <mat-toolbar>
        <button mat-raised-button color="accent" (click)="openDialog()">Pick one</button>


        <span class="fill"></span>
<button
        mat-icon-button class="avatar"
        style="width: 40px; height: 40px;
        background-image:url('assets/test.jpg');
        background-size: contain;"
>

</button>


    </mat-toolbar>
  <nav class="mainNav" logOnClick>
    <a routerLink="/blog">Blog</a>
  <a routerLink="/about">About</a>
    <a routerLink="/header">header</a>
    <a routerLink="/side"> side</a>
  <a routerLink="/explorer"> explorer</a>

</nav>



  <ng-template #inDialog ngClass="test">
      <app-create-folder-form></app-create-folder-form>
  </ng-template>

<div class="included">

<router-outlet ></router-outlet>
</div>
