
  <div class="title"><h1>


      <i class="fa fa-globe"></i> {{ title }}
      </h1></div>

    <mat-toolbar>
        <button mat-raised-button color="accent" (click)="openDialog()">Pick one</button>


        <span class="fill"></span>
<button
        mat-icon-button class="avatar"
        style="width: 40px; height: 40px;
        background-image:url('assets/test.jpg');
        background-size: contain;"
>

</button>

    </mat-toolbar>
  <nav class="mainNav" logOnClick>
    <a routerLink="/blog">Blog</a>
  <a routerLink="/about">About</a>
    <a routerLink="/header">header</a>
    <a routerLink="/side"> side</a>
  <a routerLink="/explorer"> explorer</a>

</nav>


<div class="included">
    <app-card [classes]="cardClasses">
        <!-- header -->
        <card-header>
            New <strong>header</strong>
        </card-header>

        <!-- body -->
        <card-body ngClass="rootStyle">
        <div >
            <h4 >You can put any content here</h4>
            <h4 >You can put any content here</h4>

            <p >For example this line of text and</p>

            <a href="#">This button</a>
        </div>
         </card-body>

        <!-- footer -->
        <card-footer>
            New <strong>footer</strong>
        </card-footer>
    </app-card>
<router-outlet ></router-outlet>
</div>
