<!-- App Component -->


    <mat-toolbar>

    <button mat-raised-button color="accent" (click)="openDialog()">Pick one</button>
    <button mat-raised-button color="accent" (click)="openLoginDialog()">Login</button>

        <span><i class="fa fa-globe"></i>{{ title }}</span>
        <span class="fill"></span>

    <button
        mat-button [matMenuTriggerFor]="userMenu.menu"
        mat-icon-button class="avatar"
        style="width: 40px; height: 40px;
        background-image:url('assets/test.jpg');
        background-size: contain;"
    >
    </button>
    <app-user-menu #userMenu></app-user-menu>

</mat-toolbar>

    <nav class="mainNav" logOnClick>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/about">About</a>
        <a routerLink="/header">header</a>
        <a routerLink="/side"> side</a>
        <a routerLink="/explorer"> explorer</a>
    </nav>

<ng-template #loginFormDialog ngClass="test">
    <app-login-form></app-login-form>
</ng-template>

  <ng-template #inDialog ngClass="test">
      <app-create-folder-form></app-create-folder-form>
  </ng-template>

<div class="included">
<router-outlet></router-outlet>
</div>
