$white : white;
$color-brand: rebeccapurple;

$margin-base: 1rem;
$padding-base: 1rem;

.explorerWrap{
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: [start] 260px [mid] calc( 100vw - 260px ) [end];
  grid-template-rows: [row-start]100%[row-end];
  grid-template-areas: "folderTree folderContent";

  .explorerTree{
    /*Windows like folder tree structure*/
    grid-area: folderTree;
    background-color: $white;
    overflow-y: scroll;
    padding: $padding-base;
  }

  .explorerContent{
    grid-area: folderContent;
    background-color: $white;
    overflow-y: scroll;
    padding: $padding-base;
  }

}

.popup
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

    .body
    {
      display: grid;
      height: auto;

      position: relative;
      width: 20vw;

      margin:0 auto;
      margin-top: 40vh;
      padding: 1rem;
      background-color: $white;
      border: $color-brand 1px solid;

      .submitButton{
        
        background-color: $color-brand;
        border: none;
        padding: 0.5rem 1rem;
        color: #FFF;
      }
    }

}
