/* You can add global styles to this file, and also import other style files */

@import './custom-theme';

html,body{
    padding: 0px;
    margin: 0px;
}


.customDialog mat-dialog-container{
    padding: 0;
    margin: 0;
}

 .mat-tab-label{
    flex-grow: 1;
    min-width: 0px  !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
