<app-panel>
    <panel-header>
        <mat-toolbar ngClass="whiteBg">
            <mat-toolbar-row>

                <span>My Projects</span>
                <div ngClass="grow"></div>
                <button
                    mat-button
                    color="primary"
                    (click)="createProject()"
                >
                    <mat-icon>add</mat-icon>
                    Create New Project
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </panel-header>
    <panel-content
        style="
        flex-grow: 1;
        overflow: hidden;
        overflow-y:auto"
        cdkScrollable
    >
        <mat-nav-list>
            <mat-list-item ngClass="listItem"
                           (click)="openProject(project.id)"
                *ngFor="let project of projects; let i = index"
                [attr.data-index]="i"
            >
                    <p  matLine class="mat-body-strong">
                        {{project.name}}
                    </p>
                    <p  matLine class="mat-caption">
                        {{project.description}}
                    </p>
                    <p  matLine class="mat-caption">
                        <mat-chip-list>

                            <mat-chip *ngFor="let tag of project.item.tags">
                                {{tag.name}}
                            </mat-chip>
                        </mat-chip-list>
                    </p>
                    <mat-divider *ngIf="projects.length != i" >
                    </mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </panel-content>
    <panel-footer>

        <mat-toolbar ngClass="whiteBg" class="mat-elevation-z2">
            <div style="
                display: flex;
                flex-direction: column;
                justify-content: space-around">
                <h4 class="mat-headline"> Project </h4>
                <span class="mat-caption"> Your project </span>
            </div>
        </mat-toolbar>

    </panel-footer>
</app-panel>

